body {
    background-color: #010000;
    color: #fff;
    margin-top: 2em;
}

.datepicker-panel {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

header {
    margin-top: 1em;
    margin-bottom: 1em;
}

header .container img {
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 820px;
}

label {
    margin-top: 0.5em;
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.orange {
    color: red;
}

.has-error {
    color: red;
}

.error {
    display: none;
    font-size: 0.8em;
}

.has-error .error {
    display: block;
}

.button.button-primary,
.button,
input[type="button"].button-primary,
input[type="submit"] {
    background-color: red;
    border: 1px solid white;
    color: white;
}

.small {
    font-size: 0.8em;
}

.button:hover,
.button.button-primary:hover,
input[type="button"].button-primary:hover,
input[type="submit"]:hover,
.button:focus,
.button.button-primary:focus,
input[type="button"].button-primary:focus,
input[type="submit"]:focus {
    border: 1px solid red;
    color: red;
    background-color: #fff;
}
